bcrypt==3.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
docutils==0.16
dotsi==0.0.1
flit==3.0.0
flit-core==3.0.0
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.0.0
Markdown==3.3.3
pogodb==0.0.2
psycopg2-binary==2.8.6
pycparser==2.20
python-dateutil==2.8.1
pytoml==0.1.21
qree==0.0.2
requests==2.24.0
six==1.15.0
urllib3==1.25.11
vilo==0.0.3
zipp==3.4.0
